<div class="hero">
  <img src="../../assets/background-hero.png" alt="" class="bg-image" />
  <header>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid ps-5">
        <a class="navbar-brand" href="#">Brainwave.io</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Demos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Support</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>

          <button class="btn project-button" type="submit">
            Get started a project
          </button>
        </div>
      </div>
    </nav>
  </header>
</div>
<div class="our-story container">
  <div class="story-heading">OUR STORY</div>
  <div class="story-text-content">
    We know how everything works and why your business is failing over and over
    again.
  </div>
  <div class="container d-flex align-items-center image-container">
    <img
      src="../../assets/story-image-lg.png"
      alt=""
      class="story-large-image" />
    <div class="story-inner-imgcontainer">
      <div class="d-flex gap-5">
        <div>
          <img
            src="../../assets/story-image-m.png"
            alt=""
            class="story-medium-image" />
        </div>
        <div class="small-img-container">
          <img
            src="../../assets/story-image-s.png"
            alt=""
            class="story-small-image" />
        </div>
      </div>
      <div class="story-image-text">
        We share common trends and strategies for improving your rental income
        and making sure you stay in high demand. With lots of unique blocks, you
        can easily build a page without coding. Build your next landing page.
      </div>
    </div>
  </div>
</div>
<div class="container d-flex px-5 justify-content-between">
  <div class="user-metrics">
    <div class="numbers">1M+</div>
    <div class="metrics-text">
      Customers visit Omega every month to get their service done.
    </div>
  </div>
  <div class="user-metrics">
    <div class="numbers">92%</div>
    <div class="metrics-text">
      Customers visit Omega every month to get their service done.
    </div>
  </div>
  <div class="user-metrics">
    <div class="numbers">4.9/5.0</div>
    <div class="metrics-text">
      Average customer ratings we have got all over internet.
    </div>
  </div>
</div>
