
.bg-image {
    opacity: 0.05;
    width: 100vw;
    height: 740px;
    z-index: -9999;
  }

.story-heading{
    color: #F64B4B;
    font-family: gilroy-bold;
}

.story-text-content{
    color: #161C2D;
    font-family: gilroy-bold;
}

.story-image-text{
    font-family: gilroy;
}


.metrics-text{
    font-family: gilroy;
    /* font-weight: 400;
    font-size: 19px;
    color: #161C2D;
    opacity: 0.7; */
}




